---
import NextTaskProject from "./projects/NextTaskProject.astro";
import ProjectModalLayout from "./projects/ProjectModalLayout.astro";
import TrelloProject from "./projects/TrelloProject.astro";

const TAGS = {
  jira: {
    name: "Jira",
    class: "bg-blue-700 text-white",
  },
  xray: {
    name: "Xray",
    class: "bg-green-600 text-white",
  },
  postman: {
    name: "Postman",
    class: "bg-orange-500 text-white",
  },
  newman: {
    name: "Newman",
    class: "bg-orange-400 text-white",
  },
  jenkins: {
    name: "Jenkins",
    class: "bg-red-600 text-white",
  },
  githubActions: {
    name: "GitHub Actions",
    class: "bg-purple-700 text-white",
  },
};

const PROJECTS = [
  {
    id: "trello",
    title: "Full API Testing Automation of Trello API",
    description:
      "Complete test automation for the public Trello API using Postman and Newman. Integrated with Jenkins for CI/CD to ensure reliable tests and fast feedback.",
    link: "#",
    image: "/projects/postman-collections.png",
    tags: [TAGS.postman, TAGS.newman, TAGS.jenkins, TAGS.githubActions],
  },
  {
    id: "nexttask",
    title: "Test Plan & Bug Reporting — NextTask App",
    description:
      "Created a comprehensive test plan for NextTask using Xray and Jira, with full documentation in Confluence. Focused on core CRUD validation and traceability.",
    link: "#",
    image: "/projects/jira.png",
    tags: [TAGS.jira, TAGS.xray],
  },
];
---

<section id="portfolio" class="w-full mx-auto max-w-7xl py-36">
  <h1 class="text-3xl lg:text-5xl mx-8 font-semibold text-center capitalize">
    Experience & Projects
  </h1>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 mx-8 mt-8 xl:mt-12">
    {
      PROJECTS.map(({ id, image, title, description, tags }) => (
        <article
          data-dialog-open={id}
          class="flex flex-col h-full bg-offset hover:bg-start transition-all duration-300 ease-in-out hover:shadow-lg hover:-translate-y-1 hover:border-primary"
        >
          <>
            <a
              id={id + "-open"}
              class="flex flex-col h-full
      items-center rounded-lg shadow-sm
      border border-default hover:border-primary
      cursor-pointer"
            >
              <div class="w-full aspect-[16/9] overflow-hidden rounded-t-lg">
                <img
                  class="object-cover w-full h-full transition-transform duration-500 ease-in-out hover:scale-110"
                  src={image}
                  alt=""
                />
              </div>
              <div class="flex flex-col justify-between p-5 leading-normal flex-grow">
                <h5 class="mb-2 text-2xl font-bold tracking-tight">{title}</h5>
                {description.split("\n").map((line) => (
                  <p class="mb-3 font-normal text-xl">{line}</p>
                ))}

                <span class="mb-4 text-primary font-semibold italic select-none self-start">
                  Click to see details →
                </span>

                <div class="flex flex-wrap mt-2">
                  <ul class="flex flex-row flex-wrap gap-y-2 mb-2 gap-x-4">
                    {tags.map((tag) => (
                      <li>
                        <span
                          class={`flex rounded-full text-s py-1 px-3 font-bold tracking-wide transition-all duration-300 transform hover:scale-110 hover:shadow-xl hover:ring-4 hover:ring-white/60 dark:hover:ring-white/30 dark:shadow-[0_0_15px_3px_rgba(255,255,255,0.1)] ${tag.class}`}
                        >
                          {tag.name}
                        </span>
                      </li>
                    ))}
                  </ul>
                </div>
              </div>
            </a>
          </>
        </article>
      ))
    }
  </div>
  <ProjectModalLayout id="trello">
    <TrelloProject />
  </ProjectModalLayout>
  <ProjectModalLayout id="nexttask">
    <NextTaskProject />
  </ProjectModalLayout>
</section>
