---
import { Image } from "astro:assets";
import heroImage from "../../assets/mps-profile-pic.png";
import { basic } from "../../config/cv.json";

const name = basic?.name?.split(" ")[0] ?? "";
const surname = basic?.name?.split(" ").slice(1).join(" ") ?? "";
---

<section id="home" class="px-4 py-5 sm:py-10 lg:py-16">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 items-center gap-12 lg:grid-cols-2">
      <div class="relative flex justify-center">
        <!-- add round image here -->
        <Image
          class="w-full rounded-full md:max-w-md lg:max-w-md"
          src={heroImage}
          loading="eager"
          alt="Mónica Perdomo Santana - Profile Picture"
        />
      </div>
      <div>
        <p class="text-lg font-bold text-offset">
          {basic?.job}
        </p>

        <h1 class="mt-3 text-2xl font-bold sm:text-4xl lg:text-5xl">
          {name}
          <span class="text-marking">{surname}</span>
        </h1>

        <p class="mt-5 text-base sm:text-xl">
          {basic?.summary}
        </p>

        <div class="mt-10 flex flex-wrap gap-4">
          <a
            href={`https://drive.google.com/file/d/1VkasSgO0BeiIsjIiPJ3l4SLlidRT0d1w/view?usp=sharing`}
            title="View CV"
            target="_blank"
            rel="noopener noreferrer"
            role="button"
            class="focus:ring-border relative isolate overflow-hidden rounded-lg bg-primary px-5 py-2.5 text-center text-sm font-medium text-white shadow-md transition-all duration-300 ease-in-out hover:-translate-y-0.5 hover:scale-105 hover:bg-secondary hover:shadow-xl focus:outline-none focus:ring-4">
            <span class="relative z-10">View CV</span>
            <span
              class="pointer-events-none absolute inset-0 z-0 bg-white/20 opacity-0 blur-md transition-opacity duration-500 hover:opacity-100">
            </span>
          </a>
          <a
            href={basic.linkedin}
            target="_blank"
            rel="noopener noreferrer"
            role="button"
            class="focus:ring-border relative isolate overflow-hidden rounded-lg bg-primary px-5 py-2.5 text-center text-sm font-medium text-white shadow-md transition-all duration-300 ease-in-out hover:-translate-y-0.5 hover:scale-105 hover:bg-secondary hover:shadow-xl focus:outline-none focus:ring-4">
            <span class="relative z-10">LinkedIn</span><span
              class="pointer-events-none absolute inset-0 z-0 bg-white/20 opacity-0 blur-md transition-opacity duration-500 hover:opacity-100">
            </span>
          </a>
          <a
            href="https://github.com/MonicaPerdomoSantana"
            target="_blank"
            rel="noopener noreferrer"
            role="button"
            class="focus:ring-border relative isolate overflow-hidden rounded-lg bg-primary px-5 py-2.5 text-center text-sm font-medium text-white shadow-md transition-all duration-300 ease-in-out hover:-translate-y-0.5 hover:scale-105 hover:bg-secondary hover:shadow-xl focus:outline-none focus:ring-4">
            <span class="relative z-10">GitHub</span><span
              class="pointer-events-none absolute inset-0 z-0 bg-white/20 opacity-0 blur-md transition-opacity duration-500 hover:opacity-100">
            </span>
          </a>
          <a
            href="mailto:moni320097@gmail.com"
            role="button"
            class="focus:ring-border relative isolate overflow-hidden rounded-lg bg-primary px-5 py-2.5 text-center text-sm font-medium text-white shadow-md transition-all duration-300 ease-in-out hover:-translate-y-0.5 hover:scale-105 hover:bg-secondary hover:shadow-xl focus:outline-none focus:ring-4">
            <span class="relative z-10">Contact me!</span>
            <span
              class="pointer-events-none absolute inset-0 z-0 bg-white/20 opacity-0 blur-md transition-opacity duration-500 hover:opacity-100">
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
